
<div class="fadeInDown">
  <div class="row" style="margin-top: 80px;
  ">
    <div class="col-md-2 p-0"></div>
    <div class="col-md-4 p-0" id="leftcontent">
      <p id="quote">
        You have to see failure as the beginning and the middle, but never entertain it as an end...
      </p>
      <p id="quoteby">
        - Jessica Herrin
      </p>
    </div>
    <div class="col-md-4 p-0" id="rightcontent">
      <div id="formContent">
        <h1 class="inactive underlineHover">Complete Your Profile</h1>
        <h6>
          For the purpose of industry regulation, your details are required.
        </h6>
        <app-sign-up></app-sign-up>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>